.content-container {
    position: relative;
    display: block;
    margin: 35px 0px;
    width: 1390px;
    height: 1000000px;
}

.main {
    display: inline-block;
    width: 1030px;
    margin: 0px;
    padding: 0px;
}

.sidebar {
    position: sticky;
    top: 100px;

    width: 335px;
    float: right;
    height: 580px;
    overflow-y: auto;
    background-color: white;
    border: 1px solid #e3e9ed;
    border-radius: 4px;
}

.sidebar-container {
    width: 100%;
}



.sidebar-header {
    padding: 14px 20px;
    color: black;
    border-bottom: 1px solid #e3e9ed;
}

.sidebar-header h2 {
    font-size: 15px;
    margin: 0;
    padding: 0;
    font-weight: 800;
}

.info-container {
    cursor: pointer;
    border: 0;
    padding: 0;
    margin: 0;
}

.info-container:hover {
    background-color: #F5F8FA;
    width: 100%;
}

.buying-power {
    width: auto;
    padding: 20px 0px;
    margin: 0px 20px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #e3e9ed;
    border-bottom: 1px solid #e3e9ed;
}

.buying-power p {
    font-weight: 700;
    margin: 0;
    padding: 0;
}

