body, html {
  width: 100%;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  background-color: white;
  box-sizing: border-box;
  background-color: white;
  color: black;
}

* {
  box-sizing: border-box;
}

#root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
}

.left {
  width: 100%;
}

.right {
  width: 100%;
  height: 100vh;
}

button {
  background-color: black;
  border-radius: 10000px;
  font-size: 13px;
  font-weight: 700;
  padding: 14px 48px;
  cursor: pointer;
  border: none;
  appearance: none;
}

button:hover {
  background-color: #222222;
}

a {
    color: black;
    display: block;
    text-decoration: underline;
    font-size: 13px;
    line-height: 25px;
    font-weight: 700;
}